@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@ViewData["Message"]</h2>
    <h3>@ViewBag.Result</h3>
    <img src="~/images/dog.png" alt="dog-photo"/>
    
  
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
